.articles__items
  margin-left: -16px
  margin-right: -16px
.articles__item
  margin-bottom: 32px
  float: left
  width: 33.3%
  padding-left: 16px
  padding-right: 16px
  box-sizing: border-box
.articles__item-image-container
  margin-bottom: 4px
  position: relative
.articles__item-image
  width: 100%
.articles__item-crerated-at
  background-color: $black-dark
  text-align: right
  line-height: 24px
  padding-right: 8px
  color: $white
  font-size: 14px
  position: absolute
  right: 0
  bottom: 0
  left: 0
  //
    これでもOK
    width: 100%
    box-sizing: border-box
.articles__item-title
  font-size: 18px
  font-weight: bold
  line-height: 1.4
