.alert
  .alert__close
    %i.fa.fa-times.alert__close-icon
  %header.alert__header
    %i.fa.fa-exclamation-triangle.alert__icon
    %h2.alert__title 注意
  .alert__body
    %p.alert__description
      それは黄金の昼下がり気ままにただようぼくらオールは二本ともあぶなげに小さな腕で漕がれ小さな手がぼくらのただよいを導こうとかっこうだけ申し訳につけてああ残酷な三人！こんな時間にこんな夢見る天気のもとで
.alert-background
