.is-margin-bottom-24px
  %h2.heading-1
    タイトル
.is-margin-bottom-24px
  %h2.heading-2
    タイトル
.is-margin-bottom-24px
  %h2.heading-3
    タイトル
.is-margin-bottom-24px
  %h2.heading-4
    タイトル
.is-margin-bottom-24px
  %h2.heading-5
    タイトル
.is-margin-bottom-24px
  %h2.heading-6
    タイトル
