.global-nav
  background-color: $teal-300
.global-nav__items
  display: flex
.global-nav__item
  flex: 1
.global-nav__item-link
  background-color: $teal-300
  color: $white
  text-decoration: none
  font-size: 16px
  display: block
  text-align: center
  line-height: 44px
  +transition(background-color .4s ease-in)
  &:hover
    background-color: $teal-200
  &:active
    background-color: $teal-100
